<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Login</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
  <h1>Login de Usuário:</h1>
  <form action="/login" method="POST">
    <label for="login">Login:</label>
    <input type="text" id="login" name="login" placeholder="Digite Seu Login" required><br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" placeholder="Digite Sua Senha" required><br>
    <input type="submit" value="Entrar">
  </form>
</body>
</html>